# Tesco API
API_KEY=your_tesco_api_key_here

# Host Docker Volumes Root Path (Absolute or Relative)
HOST_ROOT_PATH=./docker_data

# MongoDB Connection
MONGO_URI=mongodb://admin:secretpassword@mongo:27017/
MONGO_DB_NAME=tesco_tracker
MONGO_COLLECTION=products

# MongoDB Auth
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=secretpassword

# Mongo Express Auth
ME_CONFIG_BASICAUTH_USERNAME=admin
ME_CONFIG_BASICAUTH_PASSWORD=secretpassword

# Public Ports
MONGO_PUBLIC_PORT=50200
MONGO_EXPRESS_PUBLIC_PORT=50201
API_PUBLIC_PORT=50202